@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-button-fill: 244, 244, 245; /* gray-100 */
    --color-button-hover-fill: 228, 228, 231; /* gray-200 */
    --color-button-text: 113, 113, 122; /* gray-500 */

    --color-from-border: 254, 226, 226;
    --color-from-text: 220, 38, 38;
    --color-from-fill: 254, 242, 242;
    --color-to-fill: 236, 253, 245;

    --color-table-row-hover: 243, 244, 246;
  }
  .test-theme {
    --color-button-fill: 14, 165, 233; /* sky-500 */
    --color-button-hover-fill: 56, 189, 248; /* sky-400 */
    --color-button-text: 186, 230, 253; /* sky-200 */

    --color-from-border: 251, 146, 60;
    --color-from-text: 249, 115, 22;
    --color-from-fill: 254, 215, 170;
    --color-to-fill: 125, 211, 252;

    --color-table-row-hover: 2, 132, 199;
  }
}

@layer components {
  .dark-mode {
    .logo-text-white {
      display: block !important;
    }

    .logo-text-dark {
      display: none !important;
    }
  }

  .dark-mode.dark {
    --color-button-fill: 22, 51, 95; /* gray-100 */
    background: #151F45;
    filter: none !important;
    color: #fff;

    .logo-text-white {
      display: none !important;
    }

    .logo-text-dark {
      display: block !important;
    }

    img:where(.dark, .dark *) {
      filter: none
    }

    *, ::before, ::after {
      border-color: #404861;
    }

    .bg-white {
      background: #151F45;
    }

    .text-link-blue {
      color: #5389D0;
    }

    .text-amber-600:hover {
      --tw-text-opacity: 0.5;
    }

    .bg-gray-100 {
      background: #1D2957;
    }

    input {
      color: #898EA2;
      background-color: #131D45;
    }

    .text-gray-500, .text-gray-700, .text-gray-800 {
      color: #A9A9A9;
    }

    .hover\:bg-link-blue\/100:hover {
      background-color: rgb(52 152 219 / 0.5);
    }

    .text-black, .text-gray-900 {
      color: #fff;
    }

    *, ::before, ::after {
      border-color: #404861;
    }

    .border-transparent {
      border-color: transparent;
    }

    .bg-skin-to {
      background: #00371E;
    }

    .text-skin-from, .bg-skin-from {
      background: rgba(220, 38, 38, 0.5);
    }

    .percentage-value {
      color: #fff;
    }

    .mix-blend-multiply {
      mix-blend-mode: normal;
    }

    .table-cell-text {
      color: #31439B;
    }

    .address-link {
      color: #fff;
    }

    .text-area {
      background: #1D2B60;
      border: 1px solid #2F4494;
    }

    .qr-icon {
      color: #fff;
    }

    .text-skin-from {
      color: #fff;
    }

    .send-transaction {
      color: #fff;
    }
  }

  .dark-mode {
    @apply dark:invert dark:-hue-rotate-180 dark:brightness-90;
  }

  .dark-no-invert {
    @apply dark:invert dark:hue-rotate-180 dark:saturate-[1.25];
  }

  img {
    @apply dark-no-invert;
  }

  .logo-main {
    width: 24px !important;
    height: 24px !important;
    display: block !important;
    flex-shrink: 0 !important;
  }

  @screen lg {
    .logo-main {
      width: 60px !important;
      height: 60px !important;
      display: block !important;
      flex-shrink: 0 !important;
    }
  }

  .logo-text {
    height: 18px !important;
    width: auto !important;
    flex-shrink: 0 !important;
  }

  @screen lg {
    .logo-text {
      height: 24px !important;
      width: auto !important;
      flex-shrink: 0 !important;
    }
  }

  video {
    @apply dark-no-invert;
  }
}

.active-root-link {
  border: 1px solid #ffbb00 !important;
}

/*.dark\:bg-white:where(.dark, .dark *) {*/
/*  background: #151F45 !important;*/
/*}*/

/*.dark\:bg-white:where(.dark, .dark *) input {*/
/*  background: #202223;*/
/*}*/

.faq-section {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 50px;
}
